/* fond et texte generale */
body {
/* 	background-image: url(../../pictures/cielEtoiles.jpg); */
	/* 	background-repeat:no-repeat; */
	color: #000000;
	background-color: grey;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	text-align: center;
}
.petitTitre{
	color: gray;
	font-size: smaller;
}

/* sous titre */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small,
	.h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small,
	h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small,
	.h4 .small, .h5 .small, .h6 .small {
	color: #ffffff;
	font-weight: normal;
	line-height: 1;
}

/* contenu */
.contenu {
	background-color: #ffffff;
	border-radius: 4px;
}
.centrer{
	text-align: center;
}

/* menu */
.navbar-collapse {
	background-color: black;
	font-size: larger;
}

.nav-justified>li.active>a, .nav-justified>li.active>a:hover,
	.nav-justified>li.active>a:focus {
	background-color: #c52d2f;
	color: #000000;
}

.nav-justified>li>a:hover {
	color: #000000;
	text-decoration: none;
	background-color: white;
}

/* aside */
.nav-stacked {
	/* 	background-color: grey; */
	
}

.nav-stacked>li>a:hover {
	background-color: grey;
	text-decoration: none;
	color: #000000;
}

.nav-stacked>li.active>a, .nav-stacked>li.active>a:hover, .nav-stacked>li.active>a:focus
	{
	background-color: #c52d2f;
	color: #000000;
}

/* titre aside */
.asideTitre {
	background-color: black;
	text-align: center;
	color: #ffffff;
	font-size: larger;
	border-radius: 4px;
}

/* bouton */
.btn-primary {
	background-color: #c52d2f;
	border-color: #ff3e3e;
	color: black;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: black;
	border-color: black;
	color: white;
}

/* lien */
a {
	color: #c52d2f;
	text-decoration: none;
}
a:hover {
	color:black;
}